{
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "**/*.js, **/*.jsx",
            "options": {
                "parser": "javascript",
                "printWidth": 120
            }
        },
        {
            "files": "**/*.ts, **/*.tsx",
            "options": {
                "parser": "typescript",
                "printWidth": 120
            }
        }
    ]
}
