@use '../../variables' as *

.news-item
    padding: spacing('md')

    h3
        font-size: font-size('2xl')
        font-weight: font-weight('semibold')
        padding-top: spacing('md')

        @media (max-width: 600px)
            font-size: font-size('base')

    img
        height: auto
        min-height: 139.5px
        min-width: 248px
        object-fit: cover
        object-position: center
        text-align: -webkit-center
        width: auto
        -o-object-fit: cover

    p
        font-size: font-size('base')
        margin-bottom: spacing('md')

    &-description
        text-align: left

    &-link
        color: color('primary')
        font-weight: font-weight('semibold')
        transition: transform $transition-speed ease
        width: -moz-fit-content
        width: fit-content

        &:hover
            transform: scale(1.05)
            transition: transform $transition-speed ease

    .blur
        filter: blur(4px)
        user-select: none

    .center
        text-align: -webkit-center

        .spinner
            @include flex(row, nowrap, center, center)
            height: 175.5px

            &::after
                animation: spin 1s linear infinite
                border: 5px solid rgba(0, 0, 0, .1)
                border-radius: 50%
                border-top-color: color('primary')
                content: ""
                height: 100px
                width: 100px

@keyframes spin
    0%
        transform: rotate(0deg)

    100%
        transform: rotate(1turn)
