@use '../../variables' as variables

.news-item
    padding: 1rem

    h3
        font-size: 1.5rem
        font-weight: 600
        padding-top: 1rem

        @media (max-width: 600px)
            font-size: 1rem

    img
        height: auto
        object-fit: cover
        object-position: center
        text-align: -webkit-center
        -o-object-fit: cover

    p
        font-size: 1rem
        margin-bottom: 1rem

    &-description
        text-align: left

    &-link
        color: variables.$primary-color
        font-weight: 600
        transition: transform variables.$transition-speed ease
        width: -moz-fit-content
        width: fit-content

        &:hover
            transform: scale(1.05)
            transition: transform variables.$transition-speed ease

    .blur
        filter: blur(4px)
        user-select: none

    .center
        text-align: -webkit-center

        .spinner
            align-items: center
            display: flex
            height: 175.5px
            justify-content: center

            &::after
                animation: spin 1s linear infinite
                border: 5px solid rgba(0, 0, 0, .1)
                border-radius: 50%
                border-top-color: variables.$primary-color
                content: ""
                height: 100px
                width: 100px

@keyframes spin
    0%
        transform: rotate(0deg)

    100%
        transform: rotate(1turn)
