.news-container {
    background-color: #151515;
    margin: auto;
    max-width: 1920px;
}

.news-header-box2 {
    background-size: cover;
    color: #fff;
    height: 400px;
    position: relative;
    text-align: center;
    width: 100%;
}

.news-banner-box {
    height: 100%;
    margin: 0 25%;
    position: relative;
    width: 50%;
}

.news-header {
    position: absolute;
    right: 20px;
    top: 20px;
}

.news-header-banner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: left;

    h1 {
        font-size: 70px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 84px;
    }
}

.banner-date {
    color: #cfd2d3;
    float: left;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 29px;
    text-align: left;
}

.news-main-container {
    background-position: bottom;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 29px;
    padding-bottom: 5rem;
}

.news-main-box {
    color: #cfd2d3;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0 25%;
    position: relative;
    text-align: left;
    width: 50%;

    p {
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 17px;
        margin: 1rem 0;
        text-align: justify;

        a {
            color: #861A32;
        }
    }

    img {
        margin: 1rem 0;
        width: 100%;
    }
}

.content-creators {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1500px) {
    .news-banner-box,
    .news-main-box {
        margin: 0 10%;
        width: 80%;
    }
}

@media (max-width: 1000px) {
    .news-header-banner h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .news-main-box, .news-main-box p {
        font-size: 14px;
        line-height: 16px;
    }

    .content-creators {
        display: block;
    }
}