@use '../../variables' as *

.all
    background-color: color('background')

    .video-container
        height: 66vh
        min-height: 550px
        position: relative
        width: 100%

        .video-overlay
            background-color: rgba(0, 0, 0, .2)

        .video-gradient
            background: linear-gradient(0deg, color('background'), hsla(0, 0%, 5%, 0) 10%)
            height: 100%

        .video-overlay,
        .video-gradient
            bottom: 0
            left: 0
            position: absolute
            right: 0
            top: 0

        .main-box
            bottom: 0
            height: 92%
            left: 0
            margin: 2% 10%
            position: absolute
            right: 0
            top: 0
            width: 80%
            z-index: 0

            .main-logo-flex
                @include flex(row, nowrap, center, center)
                height: 100%
                margin: auto
                width: 70%

                @media (max-width: 800px)
                    width: 90%

                @media (max-width: 500px)
                    margin-top: 4rem

                .main-logo-section
                    align-items: center
                    justify-content: center
                    position: relative
                    text-align: -webkit-center

                    a
                        height: auto
                        width: auto

            .landing-title
                color: color('text')
                margin-top: spacing('lg')

            .button-section
                @include flex(row, nowrap, space-between, stretch)
                gap: 2.5rem
                margin: 2.5rem 0
                width: auto

                @media (max-width: 900px)
                    flex-wrap: wrap
                    gap: 0
                    justify-content: center
                    width: 100%

                @media (max-width: 500px)
                    margin-bottom: spacing('lg')
                    margin-top: spacing('lg')

                a
                    flex: 1 1 0
                    min-width: calc(50% - (2.5rem * 2))

                    @media (max-width: 429px)
                        min-width: unset

                .about-button
                    background: transparent
                    color: color('text')
                    font-weight: font-weight('semibold')
                    padding: spacing('sm') spacing('xl')

                    @media (max-width: 900px)
                        margin-bottom: spacing('md')

                .contact-button
                    background-color: color('primary')
                    color: #000
                    display: block
                    font-weight: font-weight('bold')
                    opacity: .8
                    padding: spacing('sm') 4rem
                    text-align: center

                    @media (max-width: 900px)
                        border: 5px solid color('primary')

                .about-button,
                .contact-button
                    border: 5px solid color('primary')
                    cursor: pointer
                    font-size: 1.4rem
                    line-height: 2.25rem
                    transition: transform $transition-speed $transition-timing, opacity $transition-speed $transition-timing
                    width: 100%

                    @media (max-width: 900px)
                        max-width: 230px
                        padding: spacing('sm') spacing('md')

                    @media (max-width: 600px)
                        font-size: font-size('base')
                        padding: spacing('sm') spacing('2xl')

                    @media (max-width: 500px)
                        line-height: 1.25rem

                    &:hover
                        opacity: 1
                        transform: scale(1.03)
                        transition: transform $transition-speed $transition-timing, opacity $transition-speed $transition-timing

            .partners-section
                @include flex(column, nowrap, flex-start, stretch)
                color: color('text')
                gap: .75rem
                visibility: hidden

                .parthners-container
                    @include flex(row, nowrap, space-around, stretch)
                    margin: auto
                    width: 80%

                    @media (max-width: 900px)
                        width: 100%

                    @media (max-width: 500px)
                        flex-wrap: wrap

                    .parthner-logo
                        width: 50%

                        @media (max-width: 500px)
                            width: 100%

    .relative-container
        background-color: color('background')
        background-size: cover
        color: color('text')
        max-width: 1920px
        position: relative
        text-align: center

        .gradient-overlay2
            background: linear-gradient(180deg, color('background'), hsla(0, 0%, 5%, 0) 5%)

            .news-section
                @include flex(row, nowrap, flex-start, stretch)
                margin: 0 auto
                padding: 5% 0
                position: relative
                width: 80%

                @media (max-width: 1400px)
                    display: block

                .news-title
                    font-size: 80px
                    font-weight: font-weight('bold')
                    line-height: 90px
                    place-self: center
                    text-align: center
                    width: 40%

                    @media (max-width: 1400px)
                        font-size: 60px
                        line-height: 70px
                        margin-bottom: spacing('md')
                        width: 100%

                    @media (max-width: 630px)
                        font-size: 40px
                        line-height: 45px
                        margin-bottom: 0

                    @media (max-width: 430px)
                        font-size: font-size('3xl')
                        line-height: 35px

                .news-carousel
                    display: block
                    place-content: center
                    width: 60%

                    @media (max-width: 1400px)
                        display: block
                        margin: auto
                        width: 100%

                    h1
                        font-size: font-size('2xl')
                        margin: spacing('2xl') 0

                        @media (max-width: 1400px)
                            font-size: font-size('xl')
                            margin: 2.5rem 0

                        @media (max-width: 630px)
                            font-size: font-size('lg')
                            margin: spacing('xl') 0

                        @media (max-width: 430px)
                            font-size: font-size('base')
                            margin: spacing('lg') 0

    .newsletter-section
        background-position: top
        background-size: cover
        color: color('text')
        position: relative
        text-align: center

        &-box
            margin: 0 10%
            padding: 100px 0

        .subtitle
            font-size: 2rem
            font-weight: font-weight('black')
            margin-bottom: spacing('xl')
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)

        .subscribe-form
            color: #000
            display: flow
            gap: 10px
            justify-content: center
            margin: auto
            text-align: center
            text-align: -webkit-center

            .email-input
                border: 1px solid #ccc

            .error-message
                color: color('text')
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8)

            .subscribe-button
                background-color: color('primary')
                border: none
                cursor: pointer
                color: #000
                font-weight: font-weight('bold')
                margin-top: spacing('xl')
                text-transform: uppercase
                transition: transform $transition-speed $transition-timing

                @media (max-width: 400px)
                    font-size: .9rem

                &:hover
                    transform: scale(1.03)
                    transition: transform $transition-speed $transition-timing

            .email-input,
            .subscribe-button
                border-radius: $border-radius
                display: block
                max-width: 400px
                padding: 10px
                width: 80%

        .response-message
            font-size: 3rem
