@use '../../variables' as *

.news
    background-color: color('background')

    .news-bg
        margin: auto
        width: 80%

        .news-empty
            @include flex(row, nowrap, flex-start, stretch)
            height: 60vh
            width: 100%

            h1
                color: color('text')
                margin: auto
                text-align: center

        .gallery
            display: grid
            gap: 20px
            grid-template-columns: repeat(2, 1fr)
            grid-auto-rows: minmax(min-content, max-content)
            margin: auto
            padding: 8rem 0
            place-items: center
            width: max-content
            width: -moz-max-content

            @media (max-width: 1000px)
                gap: 15px
                grid-template-columns: repeat(1, 1fr)
