$text-color: #fff

.news-container
    background-color: #000

    .news-header-box2
        background-position: center
        background-size: cover
        color: $text-color
        height: 400px
        position: relative
        text-align: center
        width: 100%

        .news-banner-box
            height: 100%
            margin: 0 25%
            position: relative
            width: 50%

            @media (max-width: 1500px)
                margin: 0 10%
                width: 80%

            .news-header
                position: absolute
                right: 20px
                top: 20px

                &-banner
                    align-items: center
                    display: flex
                    height: 100%
                    justify-content: center
                    text-align: left

                    h1
                        font-size: 70px
                        font-weight: 700
                        letter-spacing: 0
                        line-height: 84px

                    .banner-date
                        color: #cfd2d3
                        float: left
                        font-size: 16px
                        font-weight: 600
                        letter-spacing: 0
                        line-height: 29px
                        text-align: left

            .news-header-banner
                h1
                    @media (max-width: 1000px)
                        font-size: 50px
                        line-height: 60px

    .news-background
        margin: auto
        width: 80%

        .news-empty
            display: flex
            height: 60vh
            width: 100%

            h1
                color: $text-color
                margin: auto
                text-align: center

        .news-gallery
            display: grid
            gap: 20px
            grid-template-columns: repeat(2, 1fr)
            grid-auto-rows: minmax(min-content, max-content)
            margin: auto
            padding-bottom: 5rem
            place-items: center
            width: max-content
            width: -moz-max-content

            @media (max-width: 1000px)
                gap: 15px
                grid-template-columns: repeat(1, 1fr)
