@use '../../variables' as *

.footer,
.footer-box
    position: relative
    width: 100%

.footer
    background: color('background')
    height: 100%

    .footer-box
        @include flex(row, nowrap, space-between, stretch)
        padding: spacing('2xl') 10%

        @media (max-width: 1200px)
            align-items: center
            flex-direction: column
            padding: spacing('xl') 10%

        a
            align-self: center

        .footer-copyright
            align-self: center
            color: color('text')
            float: left
            width: 40%

            @media (max-width: 1200px)
                order: 2
                text-align: center
                width: 100%

            .footer-legal
                @include flex(column, nowrap, flex-start, stretch)
                margin-top: spacing('md')

                @media (max-width: 1200px)
                    margin-top: spacing('sm')

                a
                    color: color('primary')
                    transition: $transition-speed

            .footer-link
                @include flex(row, wrap, flex-start, stretch)
                margin-top: spacing('md')

                @media (max-width: 1200px)
                    justify-content: center
                    margin-top: spacing('sm')

                span
                    color: color('primary')
                    margin-right: spacing('md')
                    overflow: hidden
                    transition: $transition-speed
                    white-space: nowrap

        .footer-credits
            @include flex(row, nowrap, center, center)
            color: color('text')
            flex-direction: row
            gap: spacing('sm')

            span
                font-weight: font-weight('thin')
                margin: auto

        .footer-social
            @include flex(row, nowrap, right, center)
            gap: 2.5rem
            margin: 0
            right: 5rem
            width: 40%

            @media (max-width: 1600px)
                gap: spacing('lg')

            @media (max-width: 1200px)
                gap: spacing('sm')
                justify-content: center
                margin: 0
                order: 1
                padding: spacing('md') 0
                width: 100%
