@use '../../variables' as *

.close
    .accordion-content-line
        svg
            transition: $transition-speed
            transform: rotate(180deg)

            path
                stroke: color('text')

    .content
        display: none

.open
    .content
        margin-top: spacing('sm')

.close,
.open
    border-bottom: 1px solid color('text')
    padding: spacing('md') 0

    .accordion-content-line
        @include flex(row, nowrap, space-between, center)
        transition: color $transition-speed $transition-timing

        &:hover
            color: color('primary')
            cursor: pointer
            transition: color $transition-speed $transition-timing

            path
                stroke: color('primary')
                transition: stroke $transition-speed $transition-timing

        svg
            transition: $transition-speed

            path
                transition: stroke $transition-speed $transition-timing
